.container-login {
    border: solid 2px #afafaf;
    border-radius: 10px;
    padding: 40px;
    max-width: 520px;
    height: 630px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 50vh;
    position: relative;
    margin-top: -315px;
}

#logo {
    width: 288px;
    height: 52px;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 52px;
    background: linear-gradient(to right, #60B95A, #AED581);
}

h1 a, h1 a:hover {
    color: #fff;
    text-decoration: none;
}

.btn {
    margin: 0 auto;
    display: block;
    height: 58px;
    font-weight: 700;
}

.form-control {
    height: 64px;
    border-color: #F5F5F5;
    border-radius: 5px;
}

#github {
    margin: 0 auto;
    border: solid 2px #24292F;
    padding: 0 20px;
    border-radius: 10px;
    text-align: right;
    max-width: 220px;
    color: #fff;
    line-height: 44px;
    font-weight: 700;
    text-decoration: none;
}

#github:before {
    content:"";
    position:relative;
    display: inline-block;
    left:-10px;
    top:10px;
    width: 30px;
    height: 30px;
    background:url('../img/githubPicto.png') no-repeat;
    background-size:100%;
}

#github a {
    color: #24292F;
    text-decoration: none;
}

/*NAV*/
.navbar-collapse {
    justify-content: end;
}

.navbar li a:hover {
    background-color: #F5F5F5   ;
}

.nav-link active {
    color: #0275D8;
}

/*ARIANE*/
.ariane{
    background-color: #F5F5F5;
    height: 52px;
    line-height: 52px;
    padding-left: 10px;
}

.breadcrumb-item a {
    text-decoration: none;
}

/*SEND MONEY*/
.sendMoney, .myTransactions {
    margin-top: 40px;
}

.sendMoney .sectionTitle, .myTransactions .sectionTitle {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.sectionTitle h2 {
    display: block;
    width: 30%;
}

.sectionTitle form {
    display: flex;
    justify-content: right;
    padding: 0;
}

.sectionTitle .btn {
    margin: 0 0 0 10px;
    height: 42px;
    line-height: 32px;
}

.paySection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    max-width: 800px;
    height: 156px;
    margin: 0 auto;
    padding: 0 20px;
}

.paySection #selection, .form-control{
    height: 42px;
}

.paySection .form-select {
    border: none;
}

.paySection label {
    margin: 0 10px;
}

.paySection .btn {
    background-color: #5CB85C;
    height: 42px;
    line-height: 32px;
    border: none;
    margin-left: 10px;
}

.paySection .amount {
    max-width: 150px;
}

.myTransactions .table {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.table {
    margin-bottom: 10px;
}

.signup, .signin {
    margin: 0 auto;
    text-align: center;
}

.signup p {
    margin-bottom: 0;
}

.or {
    display: block;
    margin: 0 auto;
}

/*PROFILE*/

.profileInfo {
    width: 100%;
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px 0 10px 0;
}

thead td {
    font-weight: 700;
}

.connection .delete {
    margin: 0;
    color: red;
    font-weight: 700;
    background-color: #F7F7F7;
    border: none;
}