<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayMyBuddy | Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/></head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg">
                <h1 id="logo">
                    <a th:href="@{/login}">Pay My Buddy</a>
                </h1>
                <menu class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/transaction}">Transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Log off</a>
                        </li>
                    </ul>
                </menu>

            </nav>
            <nav aria-label="breadcrumb" class="ariane">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href=th:href="@{/login}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>
        </header>
        <section class="profileInfo">
            <h2>My profile</h2>
            <table class="table" >
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Account status</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${profileDto.email}"></td>
                        <td th:text="${profileDto.firstname}"></td>
                        <td th:text="${profileDto.lastname}"></td>
                        <td th:text="${profileDto.status}"></td>
                        <td th:text="${profileDto.balance}">€</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="profileInfo">
            <h2>My connections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contactList}">
                        <td th:text="${contact.email}"></td>
                        <td th:text="${contact.firstname}"></td>
                        <td th:text="${contact.lastname}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>